nav {
    color: #fff;
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255, 149, 28, 1)), color-stop(23%, rgba(246, 92, 46, 1)), color-stop(37%, rgba(242, 58, 58, 1)), color-stop(100%, rgba(128, 4, 70, 1)));
    width: 100%;
    height: 56px;
    line-height: 56px;
}

.book-image{
    width: 330px;
}

#book-info{
    height: 500px;
    margin: 50px;
    margin-top: 15px;
    overflow: scroll;
}

#book-cover{
    height: 500px;
    margin: 50px;
}

.material-icons{
    color: white;
}

#thumbs-up, #thumbs-down, #lightbulb{
    color: #ec6f75;
}

#modal-h3{
    text-align: center;
}

#modal-text{
    text-align: center;
}

#modal1{
    background-color: #ec6f75;
    color: white;
    background-image: linear-gradient(rgb(236,111,117), rgba(0, 0, 0, 0.6)), url(../images/bg.jpeg);
    background-size: 900px;
}